
/Debug
/ipch
/Step4/Debug
*.sdf
/Step4/Debug/link.112-cvtres.read.1.tlog
/Step4/Debug/link.112-cvtres.write.1.tlog
/Step4/Debug/link.876.read.1.tlog
/Step4/Debug/link.876.write.1.tlog
/Step4/Debug/vc100.pdb
/Step4/Debug/CL.read.1.tlog
/Step4/Debug
/Step4/Debug/link.1868.read.1.tlog
/Step4/Debug/link.1868-cvtres.read.1.tlog
/Step4/Debug/link.1868-cvtres.write.1.tlog
/Step4/Debug/link.2168.write.1.tlog
/Step4/Debug/link.2168-cvtres.read.1.tlog
/Step4/Debug/link.2168-cvtres.write.1.tlog
/Step4/Debug/Sphere.obj
/Step4/Debug/GrCamera.obj
/Step4/Debug/MainFrm.obj
/Step4/Debug/lab.obj
/Step4/Debug/ChildView.obj
/Step4/Debug/GrTexture.obj
/Step4/Debug/Torus.obj
/Step4/Debug/link.3572.read.1.tlog
/Step4/Debug/link.3572.write.1.tlog
/Step4/Debug/link.3572-cvtres.read.1.tlog
/Step4/Debug/link.3572-cvtres.write.1.tlog
/Step4/Debug/link.2544.read.1.tlog
/Step4/Debug/link.2544.write.1.tlog
/Step4/Debug/link.2544-cvtres.read.1.tlog
/Step4/Debug/link.2544-cvtres.write.1.tlog
/Step4/Debug/link.3496.read.1.tlog
/Step4/Debug/link.3496.write.1.tlog
/Step4/Debug/link.3496-cvtres.read.1.tlog
/Step4/Debug/link.3496-cvtres.write.1.tlog
/Step4/Debug/link-cvtres.read.1.tlog
/Step4/Debug/link-cvtres.write.1.tlog
/Step4/Debug/link.3708.read.1.tlog
/Step4/Debug/link.3708.write.1.tlog
/Step4/Debug/link.3708-cvtres.read.1.tlog
/Step4/Debug/link.3708-cvtres.write.1.tlog
/Step4/Debug/link.3832.read.1.tlog
/Step4/Debug/link.3832.write.1.tlog
/Step4/Debug/link.3832-cvtres.read.1.tlog
/Step4/Debug/link.3832-cvtres.write.1.tlog
/Step4/Debug/link.3940.read.1.tlog
/Step4/Debug/link.3940.write.1.tlog
/Step4/Debug/link.3940-cvtres.read.1.tlog
/Step4/Debug/link.3940-cvtres.write.1.tlog
/Step4/Debug/Step4.exe.intermediate.manifest
/Step4/Debug/mt.write.1.tlog
/Step4/Debug/Step4.exe.embed.manifest
/Step4/Debug/Step4.lastbuildstate
/Step4/Debug/Step4_manifest.rc
/Step4/Debug/link.write.1.tlog
/Step4/Debug/lab.res
/Step4/Debug/Step4.exe.embed.manifest.res
/Step4/Debug/rc.write.1.tlog
/Step4/Debug/mt.read.1.tlog
/Step4/Debug/mt.command.1.tlog
/Step4/Debug/rc.command.1.tlog
/Step4/Debug/Step4.log
/Step4/Debug/cl.command.1.tlog
/Step4/Debug/CL.write.1.tlog
/Step4/Debug/link.command.1.tlog
/Step4/Debug/rc.read.1.tlog
/Step4/Debug/link.read.1.tlog
GroupProj1.opensdf
*.suo
/ProjectUML.eps
/ProjectUML.pdf
/UMLDescription.pdf
/UMLDescription.tex